{% extends 'base.html' %}

{% load static %}
{% block nav %}
<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
	<div  class="mod-gnav-inner">
		<div  class="mod-gnav-inner2">
			<ul>
				<li  class=""><span class="mod-gnav-item"><a href="/">私たちのやりたい事</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/office">事務所概要</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/member">弁理士紹介</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/access" style="color: white;">アクセス</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/contact">お問合せ</a></span></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block header-image %}
	<img style="width:100%;height:auto;max-height:550px;filter: brightness(60%);" id="image" src="{% static 'img/access.jpg' %}">
		<div style="position: absolute;left: 0; right: 0; margin-top: -300px;display: flex;flex-direction: column;align-items: center;">
    	<h1 style="color:white;">アクセス</h1>
	</div>
{% endblock %}

{% block content %}

<div data-parts-name="part-main-105_002 v8" class="ex-style_a1A1 mod-box3 ex-first-part">
	<div  class="mod-box-inner" style="padding-right: 55px;padding-left: 55px;">
		<div  class="mod-h_3D2 ex-first-child">
			<i  class="mod-icon_1"></i>
			<h3  class="mod-h">住所</h3>
		</div>
		<div  class="mod-rte15">
			<p>
				<span>〒101-0047 &nbsp; </span><br>
				<span>東京都千代田区内神田1-6-7 大洋ビル５F<a href="https://goo.gl/maps/QG4CuaSsqz67nSgW9">[Google map]</a></span><br>
				<span>Tel: 03-5281-3700</span><br>
				<span>FAX: 03-5281-8008</span><br>
			</p>
		</div>
		<div  class="mod-h_3D2 ex-first-child">
			<i  class="mod-icon_1"></i>
			<h3  class="mod-h">交通アクセス</h3>
		</div>
		<div  class="mod-rte15">
			<p>
				<span>JR神田駅南口より徒歩6分</span><br>
				<span>丸ノ内線大手町駅A1より5分</span><br>
			</p>
		</div>
		<div class="" style="margin-top: 42px;">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12961.889261640667!2d139.7576952156062!3d35.689993110789494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c06962422ff%3A0x69cd9aed61c22ae0!2z5ZKM5rOJ54m56Kix5LqL5YuZ5omA!5e0!3m2!1sen!2sjp!4v1608845218134!5m2!1sen!2sjp" width="800" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		</div>
	</div>
</div>

<div data-parts-name="part-main-245 v8" class="ex-style_w1A1 mod-box3 mod-2col7">
	<div  class="mod-2col-wrap2">
		<div  class="mod-2col-inner">
			<p  class="mod-image ex-first-child"   data-height-group="245-1-8">
				<img src="{% static 'img/access1.jpg' %}">
			</p>
		</div>
		<div  class="mod-2col-inner2">
			<p  class="mod-image ex-first-child"   data-height-group="245-1-8">
				<img src="{% static 'img/access2.jpg' %}">
			</p>
		</div>
	</div>
</div>
{% endblock %}