{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="area-main" data-cms-parts-group="">

	<div data-parts-name="part-main-105_002 v8" class="ex-style_a1A1 mod-box3 ex-first-part">
		<div  class="mod-box-inner" style="padding-right: 55px;padding-left: 55px;">
			<div  class="mod-h_3D2 ex-first-child">
				<i  class="mod-icon_1"></i>
				<h3  class="mod-h">新橋メインオフィス</h3>
			</div>
			<div  class="mod-rte15">
				<p>
					<span>東京都港区新橋にあるメインオフィスです。</span>
					<span>２０１４年に開通したマッカーサー通り（</span>
					<span>新虎通り）</span>
					<span>のすぐそばです。&nbsp;</span><br>
					<span>近くには、虎ノ門ヒルズ、慈恵医大病院があります。<br>※ビルの正面玄関ではなく、ビルの外側に独立した入り口があります。<br>①JR山手線　　 　「新橋駅」　烏森口より徒歩７分</span><br>
					<span>②地下鉄三田線　「内幸町」　A3出口より徒歩５分</span>
				</p>
			</div>
			<div class="mod-html4">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.505070618825!2d139.752100280951!3d35.66456376683896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x33ade41a118e6cb2!2z54m56Kix5qWt5YuZ5rOV5Lq65LqV5r6k5Zu96Zqb54m56Kix5LqL5YuZ5omAIElaQVdBJklaQVdB!5e0!3m2!1sja!2sjp!4v1441610277100" width="800" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>

	<div data-parts-name="part-main-245 v8" class="ex-style_w1A1 mod-box3 mod-2col7">
		<div  class="mod-2col-wrap2">
			<div  class="mod-2col-inner">
				<p  class="mod-image ex-first-child"   data-height-group="245-1-8">
					<img src="{% static 'img/access1.jpg' %}">
				</p>
			</div>
			<div  class="mod-2col-inner2">
				<p  class="mod-image ex-first-child"   data-height-group="245-1-8">
					<img src="{% static 'img/access2.jpg' %}">
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}