{% load static %}

<!DOCTYPE html>
<?ra-page image-convert="no" g="SP" ?>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="UTF-8" />
	<meta name="keywords" content="特許,化学,商標" />
	<meta name="description" content="東京都港区新橋にある1930年創立の特許事務所。特許・商標の専門家集団が貴社の知財部として企業防衛に貢献致します。" />
	<meta property="og:site_name" content="特許業務法人井澤国際特許事務所（東京都港区新橋）" />
	<meta property="og:description" content="東京都港区新橋にある1930年創立の特許事務所。特許・商標の専門家集団が貴社の知財部として企業防衛に貢献致します。" />
	<meta property="og:title" content="トップページ" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.izawapat.com/" />
	<link rel="canonical" href="http://www.izawapat.com/" />
	<meta name="disparea" content="vga" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<title>特許・商標で企業防衛｜特許業務法人井澤国際特許事務所（港区新橋）</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bhsystem.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/mod.css' %}" />
	<script>
		(function() {
			var protocol = location.protocol;
			document.write('<script src="' + protocol + '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js">\x3C/script>');
		}());
	</script>
</head>
<body class="mod-body">
	<div class="area-all">

		<header class="area-header" data-cms-parts-group="">
			<div class="area-header-inner">

			</div>
			<div class="area-header-inner2">
				<div   data-parts-name="part-header-090_001 v7" class="mod-parts-sitename ex-first-part ex-style_01A2"><div  class="mod-top-sitename">
					<p  class="mod-top-text-sitename"><span style="background-color:rgb(60, 60, 60)">中小企業支援なら、東京都港区新橋の【井澤国際事務所】にお任せください。</span></p>
				</div>
				<div  class="mod-3col-sitename">
					<div  class="mod-3col-inner">
						<div  class="mod-title-sitename">
							<div  class="mod-title-inner2 ex-first-child">
								<p  class="mod-title-text-sitename ex-first-child"><span style="font-size:14px">創立１９３１年　特許業務法人&nbsp;井澤国際特許事務所</span></p>
							</div>
						</div>
						<p  class="mod-image-sitename">
							<a href="/"><img  src="{% static 'img/logo.jpg' %}"></a>
						</p>
						<p  class="mod-address-sitename">
							<span style="font-size:16px"><strong><span lang="EN-US">IZAWA&nbsp;&amp; IZAWA INTERNATIONAL PATENT OFFICE</span></strong></span>
						</p>
					</div>
					<div  class="mod-3col-inner2">
						<table   class="mod-info-sitename">
							<tbody>
								<tr  class="mod-info-inner">
									<th>
										<p>営業時間</p>
									</th>
									<td>
										<p>9:00～17:30<br>（土日祝を除く）</p>
									</td>
								</tr>
							</tbody>
						</table>
						<table  class="mod-info2-sitename">
							<tbody>
								<tr  class="mod-info2-sitename-inner">
									<th>
										<p>所在地</p>
									</th>
									<td>
										<p>東京港区新橋</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div  class="mod-3col-inner3">
						<div  class="mod-tel-sitename"><i  class="mod-icon_tel ex-first-child"></i>
							<div  class="mod-tel-inner">
								<p  class="mod-tel-golo-sitename"><a href="http://www.izawapat.jp/category/1216421.html" target="_blank"><img alt="" class="mod-pictgram" src="/_master/material/arr_014_001/arr_014_001.gif">&nbsp;English</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
								<p  class="mod-telnum-sitename"><span>03-6402-1381</span></p>
							</div>
						</div>
						<div class="mod-bnr3-sitename">
							<a href="mailto:info@waizumi.com" target="_blank">
								<div  class="mod-bnr-inner"><p>メールでのお問合せはこちら</p></div>
							</a>
						</div>
					</div>
				</div>
			</div>
				<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
					<div  class="mod-gnav-inner">
						<div  class="mod-gnav-inner2">
							<ul>
								<li  class="state-current"><span  class="mod-gnav-item"><a href="/">私たちのやりたい事</a></span></li>
								<li class=""><span class="mod-gnav-item"><a href="/office">事務所概要</a></span></li>
								<li class=""><span class="mod-gnav-item"><a href="/member">弁理士紹介</a></span></li>
								<li class=""><span class="mod-gnav-item"><a href="/access">アクセス</a></span></li>
								<li class=""><span class="mod-gnav-item"><a href="/contact">お問合せ</a></span></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="area-header-inner3">
				<div  data-parts-name="part-header-006 v8" class="mod-box ex-style_0000">
					<div  class="mod-box26 ex-first-child">
						<div  class="mod-html-spec ex-first-child">
							<div id="movie_replace_15765"><script type="text/javascript">(function(){var m = document.createElement('script');m.type = 'text/javascript';m.async = true;m.src = 'https' + '://home.douga-hp.jp/movies/15765/embed.js';var t = document.getElementById('movie_replace_15765');t.appendChild(m);})();</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="area-container">
			{% block content %}
			replace me
			{% endblock %}
		</div>


		<footer class="area-footer" data-cms-parts-group="">
			<nav   data-parts-name="part-footer-038 v7" class="mod-set-navi-footer ex-first-part ex-style_02A1">
				<div  class="mod-navi-footer">
					<ul>
						<li style="border-left: 1px solid grey;"><span  class="mod-gnav-item"><a href="/" style="color:grey">トップページ</a></span></li>
						<li  style="border-left: 1px solid grey;"><span  class="mod-gnav-item"><a href="/faq" style="color:grey">よくあるご質問</a></span></li>
						<li  style="border-left: 1px solid grey;"><span class="mod-gnav-item"><a href="/509198967" style="color:grey">事務所概要</a></span></li>
						<li style="border-left: 1px solid grey;"><span class="mod-gnav-item"><a href="/contact" style="color:grey">お問合せ</a></span></li>
					</ul>
				</div>
			</nav>
			<div   data-parts-name="part-footer-037_002 v7" class="ex-style_01A1 mod-set-company-footer">
				<div  class="mod-box-inner ex-first-child">
					<div  class="mod-box-footer ex-first-child">
						<div  class="mod-2col-footer">
							<div  class="mod-2col-inner">
								<div  class="mod-title-footer ex-first-child">
									<div  class="mod-title-inner2">
										<p  class="mod-title-inner3">創立1930年の豊富な経験と高い技術</p>
										<p  class="mod-title-inner4"><span style="font-size:22px">特許業務法人 井澤国際特許事務所</span></p>
									</div>
								</div>
								<p  class="mod-text-title-footer">〒105-0003<br>東京都港区西新橋3-7-1ランディック第2新橋ビル１F</p>
								<p  class="mod-text-footer">JR新橋駅烏森口より徒歩7分　都営三田線内幸町A3より5分</p>
							</div>
							<div  class="mod-2col-inner2">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-parts-name="part-footer-006 v6" class="ex-style_01A1 mod-box22">
				<div  class="mod-box-inner">
					<div  class="mod-box25"><p  class="mod-text17">(c)　Izawa&amp;Izawa International Patent Office&nbsp;</p></div>
				</div>
			</div>
		</footer>
	</div>
	<!-- Piwik -->
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.wms-analytics.net/" : "http://stats.wms-analytics.net/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
		try {
			var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 18183);
			piwikTracker.trackPageView();
			piwikTracker.enableLinkTracking();
		} catch( err ) {}
	</script><noscript><p><img src="http://stats.wms-analytics.net/piwik.php?idsite=18183" style="border:0" alt="" /></p></noscript>
	<!-- End Piwik Tracking Code -->


	<script>
		(function() {
			var protocol = location.protocol;
			document.write('<script src="' + protocol + '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">\x3C/script>');
		}());
	</script>
	<script src="{% static 'js/form.js' %}"></script>
	<script src="{% static 'js/pc.js' %}"></script>
	<script src="{% static 'js/pc2.js' %}"></script>

</body>
</html>