{% load static %}

<!DOCTYPE html>
<?ra-page image-convert="no" g="SP" ?>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="UTF-8" />
	<meta name="keywords" content="弁理士,特許,化学,商標" />
	<meta name="author" content="和泉特許事務所" />
	<meta name="description" content="東京都千代田区内神田にある特許事務所です。特許の高い専門性と経験によりお客様をサポートします。" />
	<meta property="og:site_name" content="特許業務法人和泉特許事務所（東京都千代田区内神田）" />
	<meta property="og:description" content="東京都千代田区内神田にある特許事務所です。特許の高い専門性と経験によりお客様をサポートします。" />
	<meta property="og:title" content="トップページ" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.waizumipat.com/" />
	<link rel="canonical" href="http://www.waizumipat.com/" />
	<meta name="disparea" content="vga" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<title>和泉特許事務所</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bhsystem.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/mod.css' %}" />
	<link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
	<script>
		(function() {
			var protocol = location.protocol;
			document.write('<script src="' + protocol + '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js">\x3C/script>');
		}());
	</script>
</head>
<style>
.contact-email {
	display: block;
    padding: 0.8rem;
    border: solid 1px;
    font-size: 0.9rem;
    line-height: 100%;
}
.patent-name {
	position: relative;
	margin-bottom: 7.0rem;
	padding-bottom: 5px;
	color: #233d87;
	border-bottom: solid 1px;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	font-family: 'Lora', 'Noto Serif JP', 游明朝,"Yu Mincho",YuMincho, "Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
.patent-alphabet {
	position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    font-size: 1.2rem;
}
.profile-h3 {
	color: #233d87;
    font-size: 1.1rem;
}
.copy-right {
	text-align:center;
	font-size: 13px;
	font-family: 'Lora', 'Noto Serif JP', 游明朝,"Yu Mincho",YuMincho, "Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
</style>
<body class="mod-body">
	<div class="area-all">

		<header class="" data-cms-parts-group="" style="">
			<div style="width:100%;height:180px;background-color:white;">
				<div style="float:left; width: 80%;margin:40px -200px auto 60px;">
					<p  class=""><span style="font-size:14px">特許の高い専門性と経験によりお客様をサポート　特許業務法人&nbsp;</span></p>
					<a href="/"><img  src="{% static 'img/logo.jpg' %}" style="width:250px"></a></p>
					<p  class="">
						<span style="font-size:16px;padding-left:6px;font-family: Georgia, serif;"><strong><span lang="EN-US">Waizumi Patent Office</span></strong></span>
					</p>
				</div>
				<div class="mod-bnr3-sitename" style="float:right;width:300px;padding-top:105px;padding-right:40px;">
					<a href="mailto:waizumi@waizumi-pat.jp" target="_blank" class="contact-email">
						<div align="center">メールでのお問合せはこちら</div>
					</a>
				</div>
			</div>
			{% block nav %}
			{% endblock %}
			</div>
			{% block header-image %}
			{% endblock %}
		</header>

		<div class="area-container">
			{% block content %}
			replace me
			{% endblock %}
		</div>


		<footer class="area-footer" style="margin-top: 60px">
			<div class="ex-style_01A1" style="background-color:#cecece;">
				<div  class="mod-box-inner ex-first-child">
					<div  class="mod-box-footer">
						<div  class="mod-2col-footer">
							<div  class="mod-2col-inner">
								<div  class="mod-title-footer ex-first-child">
									<div  class="mod-title-inner2">
										<p  class="mod-title-inner3">特許の高い専門性と経験によりお客様をサポート</p>
										<p  class="mod-title-inner4"><span style="font-size:22px">特許業務法人 和泉特許事務所</span></p>
									</div>
								</div>
								<p  class="mod-text-title-footer">〒101-0047<br>東京都千代田区内神田1-6-7 大洋ビル５F</p>
								<p  class="mod-text-footer">Tel: 03-5281-3700</p>
								<p  class="mod-text-footer">JR神田駅南口より徒歩6分　丸ノ内線大手町駅A1より5分</p>
							</div>
						</div>
					</div>
				</div>
				<div  class="mod-box-inner" style="margin: 10px auto -20px auto;font-size: 13px;">
					<div  class="mod-box25"><p  class="copy-right">(c)　Waizumi&amp;Waizumi Patent Office&nbsp;</p></div>
				</div>
			</div>
		</footer>
	</div>
	<!-- Piwik -->
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.wms-analytics.net/" : "http://stats.wms-analytics.net/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
		try {
			var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 18183);
			piwikTracker.trackPageView();
			piwikTracker.enableLinkTracking();
		} catch( err ) {}
	</script><noscript><p><img src="http://stats.wms-analytics.net/piwik.php?idsite=18183" style="border:0" alt="" /></p></noscript>
	<!-- End Piwik Tracking Code -->


	<script>
		(function() {
			var protocol = location.protocol;
			document.write('<script src="' + protocol + '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">\x3C/script>');
		}());
	</script>
	<script src="{% static 'js/form.js' %}"></script>
	<script src="{% static 'js/pc.js' %}"></script>
	<script src="{% static 'js/pc2.js' %}"></script>

</body>
</html>