{% extends 'base.html' %}

{% load static %}
{% block nav %}
<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
	<div  class="mod-gnav-inner">
		<div  class="mod-gnav-inner2">
			<ul>
				<li  class=""><span class="mod-gnav-item"><a href="/">事務所方針</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/office">事務所概要</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/member">弁理士紹介</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/access">アクセス</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/contact"   style="color: white;">お問合せ</a></span></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block header-image %}
	<img style="width:100%;height:auto;max-height:600px;filter: brightness(50%);object-fit: cover;" id="image" src="{% static 'img/contact.jpg' %}">
		<div style="position: absolute;left: 0; right: 0; margin-top: -300px;display: flex;flex-direction: column;align-items: center;">
    	<h1 style="color:white;">コンタクト</h1>
	</div>
{% endblock %}

{% block content %}
	<div   data-parts-name="part-main-004 v7" class="ex-style_01A1 mod-box3 ex-first-part">
		<div  class="mod-title3 ex-first-child">
			<div  class="mod-title3-inner ex-first-child">
				<h1  class="mod-title3-inner3 ex-first-child">まずは、ご相談ください（無料）。</h1>
			</div>
		</div>
	</div>
	<div data-parts-name="part-main-243 v7" class="ex-style_w1A1 ex-imgFloat mod-box3">
		<div  class="mod-rte17 ex-first-child">
			<p>和泉特許事務所のWEBサイトをご覧いただきまして、誠にありがとうございます。ご不明点やご相談などございましたら、お電話または下記のお問合せフォームよりお気軽にお問合せください。&nbsp;</p>
		</div>
	</div>
	<div  class="mod-box3" style="margin-bottom:-50px">
			<div  class="mod-box53 ex-first-child">
				<div   class="mod-rte28 ex-first-child">
					<p>お電話でのお問合せはこちら</p>
				</div>
				<div  class="mod-tel29">
					<i  class="mod-icon_tel"></i>
						<p  class="mod-tel-inner-3" style="color:#335a93"><span>03-5281-3700</span></p>
				</div>
				<div  class="mod-rte35">
					<p>受付時間：9:30～17:30（土日祝を除く）。<span style="line-height:1.6">お気軽にお問合せください。</span></p>
				</div>
				<div  class="mod-box41">
					<div   class="mod-h_5_21 ex-first-child">
						<i  class="mod-icon_1"></i>
						<div  class="mod-h_5-inner">
							<h5  class="mod-h">よくあるご相談</h5>
						</div>
					</div>
					<div  class="mod-rte17">
						<ul>
							<li>特許出願をしたい。</li>
							<li>権利化したいがどこが特許になるのか分からない。</li>
							<li>商標登録出願をしたい。</li>
							<li>海外で特許を取得したい。</li>
							<li>アメリカ・中国・韓国・欧州で特許を取るための費用を知りたい。</li>
						</ul>
						<p>親切、丁寧な対応を心がけております。<span>上記のようなご相談はもちろん、疑問や悩み事など、なんなりとご相談ください。</span></p>
					</div>
				</div>
				<div>
					<script type="text/javascript" src="https://form.jotform.com/jsform/203546842462457"></script>				</div>
			</div>
	</div>
{% endblock %}
<script>
		(function() {
			var protocol = location.protocol;
			document.write('<script src="' + protocol + '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">\x3C/script>');
		}());
	</script>
	<script src="{% static 'js/form.js' %}"></script>
	<script src="{% static 'js/pc.js' %}"></script>
	<script src="{% static 'js/pc2.js' %}"></script>
