{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="area-main-inner2">
	<div   data-parts-name="part-main-004 v7" class="ex-style_01A1 mod-box3 ex-first-part">
		<div  class="mod-title3 ex-first-child">
			<div  class="mod-title3-inner ex-first-child">
				<h1  class="mod-title3-inner3 ex-first-child">まずは、ご相談ください（無料）。</h1>
			</div>
		</div>
	</div>
	<div data-parts-name="part-main-243 v7" class="ex-style_w1A1 ex-imgFloat mod-box3">
		<div  class="mod-rte17 ex-first-child">
			<p>井澤国際特許事務所のWEBサイトをご覧いただきまして、誠にありがとうございます。ご不明点やご相談などございましたら、お電話または下記のお問合せフォームよりお気軽にお問合せください。&nbsp;</p>
		</div>
	</div>
	<div   data-parts-name="part-main-271_002 v9" class="ex-style_t5A1 ex-imgSize_2SS mod-box3">
		<div  class="mod-box52 ex-first-child">
			<div  class="mod-box53 ex-first-child">
				<div  class="mod-box-inner">
					<div  class="mod-2col42 ex-first-child">
						<div  class="mod-2col-wrap">
							<div  class="mod-2col-inner">
								<p  class="mod-image ex-first-child">
									<img src="{% static 'img/access1.jpg' %}">
								</p>
							</div>
							<div  class="mod-2col-inner2">
								<div   class="mod-rte28 ex-first-child">
									<p>お電話でのお問合せはこちら</p>
								</div>
								<div  class="mod-tel29">
									<i  class="mod-icon_tel"></i>
									<div  class="mod-tel-inner">
										<p  class="mod-tel-inner-3 ex-first-child"><span>03-6402-1381</span></p>
									</div>
								</div>
								<div  class="mod-rte35">
									<p>受付時間：9:00～17:00（土日祝を除く）。<span style="line-height:1.6">お気軽にお問合せください。</span></p>
								</div>
							</div>
						</div>
					</div>
					<div  class="mod-box41">
						<div   class="mod-h_5_21 ex-first-child">
							<i  class="mod-icon_1"></i>
							<div  class="mod-h_5-inner">
								<h5  class="mod-h">よくあるご相談</h5>
							</div>
						</div>
						<div  class="mod-rte17">
							<ul>
								<li>特許出願をしたい。</li>
								<li>商標登録について教えてほしい。</li>
								<li>海外で特許を取るためにはいくらぐらいかかる？</li>
								<li>アメリカ・中国・欧州で商標をとるためには？</li>
								<li>お見積もりをお願いしたい。</li>
							</ul>
							<p>親切、丁寧な対応を心がけております。<span>上記のようなご相談はもちろん、疑問や悩み事など、なんなりとご相談ください。</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div   data-parts-name="part-main-183_001 v10" class="ex-style_f1A1 mod-box3">
	<div  class="mod-box-inner">
		<div  class="mod-h_3 ex-first-child">
			<i  class="mod-icon_1"></i>
			<h3  class="mod-h">お問合せフォーム</h3>
		</div>
		<div  class="mod-box20">
			<div  class="mod-box40 ex-first-child">
				<p>以下のフォームに必要事項をご記入の上、「送信する」ボタンをクリックしてください。</p>
			</div>
		</div>
		<div  class="mod-form" style="padding-bottom: 40px">
			<form action="/_form/forms/6919/form_records" method="POST">
				<input type="hidden" name="form_record[order]" value="1,5,4,2,3">
				<div  class="mod-form-items">
					<div class="mod-form-item">
						<input type="hidden" name="form_record[6919_1_label]" value="会社名またはお名前">
						<label for="form_record[6919_1]" class="mod-form-label">
							<span class="mod-form-name">会社名またはお名前</span>
							<span class="mod-form-required">必須</span>
						</label>
						<span class="mod-form-part mod-form-part-text">
							<input type="text" name="form_record[6919_1]" id="form_record[6919_1]" value="">
							<p class="mod-form-description">（例：株式会社〇〇）</p>
						</span>
					</div>
					<div class="mod-form-item">
						<input type="hidden" name="form_record[6919_5_label]" value="ご担当者名">
						<label for="form_record[6919_1]" class="mod-form-label">
							<span class="mod-form-name">ご担当者名</span>
						</label>
						<span class="mod-form-part mod-form-part-text">
							<input type="text" name="form_record[6919_5]" id="form_record[6919_1]" value="">
							<p class="mod-form-description">（例：特許太郎）</p>
						</span>
					</div>
					<div class="mod-form-item">
						<input type="hidden" name="form_record[6919_4_label]" value="お電話番号">
						<label for="form_record[6919_1]" class="mod-form-label">
							<span class="mod-form-name">お電話番号</span>
							<span class="mod-form-required">必須</span>
						</label>
						<span class="mod-form-part mod-form-part-text">
							<input type="text" name="form_record[6919_4]" id="form_record[6919_1]" value="">
							<p class="mod-form-description">（例：03-6402-1381,090-〇〇〇〇-〇○○〇）</p>
						</span>
					</div>
					<div class="mod-form-item">
						<input type="hidden" name="form_record[6919_2_label]" value="メールアドレス">
						<label for="form_record[6919_2]" class="mod-form-label">
							<span class="mod-form-name">メールアドレス</span>
							<span class="mod-form-required">必須</span>
						</label>
						<span class="mod-form-part mod-form-part-text">
							<input type="text" name="form_record[6919_2]" id="form_record[6919_2]" value="">
							<p class="mod-form-description">（例：sample@izawahp.jp）</p>
						</span>
					</div>
					<div class="mod-form-item">
						<input type="hidden" name="form_record[6919_3_label]" value="ご質問はこちらへどうぞ">
						<label for="form_record[6919_3]" class="mod-form-label">
							<span class="mod-form-name">ご質問はこちらへどうぞ</span>
							<span class="mod-form-required">必須</span>
						</label>
						<span class="mod-form-part mod-form-part-textarea">
							<textarea name="form_record[6919_3]" id="form_record[6919_3]"></textarea>
						</span>
					</div>
				</div>
				<div class="mod-form-submit">
					<div class="mod-form-submit-button" style="display: none;">
						<input type="submit" value="送信内容を確認する">
						<div class="mod-form-submit-footer">テキストを入力してください</div>
					</div>
					<div class="mod-form-confirm-button" style="display: block;">
						<input type="button" value="修正する" class="mod-form-edit" style="display: none;">
						<input type="submit" value="送信する" class="mod-form-send">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}