{% extends 'base.html' %}

{% load static %}
{% block nav %}
<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
	<div  class="mod-gnav-inner">
		<div  class="mod-gnav-inner2">
			<ul>
				<li  class=""><span class="mod-gnav-item"><a href="/" style="color: white;">私たちのやりたい事</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/office">事務所概要</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/member">弁理士紹介</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/access">アクセス</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/contact">お問合せ</a></span></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block header-image %}
	<img style="width:100%;height:auto;max-height:550px;filter: brightness(70%);" id="image" src="{% static 'img/index.jpg' %}">
		<div style="position: absolute;left: 0; right: 0; margin-top: -300px;display: flex;flex-direction: column;align-items: center;">
    	<h1 style="color:white;">高い専門性と豊富な経験によりお客様をサポート</h1>
	</div>
{% endblock %}

{% block content %}
	
		<div class="area-main-inner2">
					<div data-parts-name="part-main-040 v7" class="mod-part-pic ex-imgSize_2SS ex-style_01C2">
						<div  class="mod-set-h2 ex-first-child">
							<div  class="mod-h_2_ver2 ex-first-child">
								<h2  class="mod-h"><span style="font-size:16px"><strong>特許出願</strong></span></h2>
							</div>
							<div  class="mod-rte_ver2">
								<p><span lang="EN-US">発明者が発明を生み、提案書として提出するのをただ黙って待っていても、高い価値の発明が生み出される可能性は限られています。これでは、良く完成された実施間近な発明しか出願をすることができません。より未来の基本的な発明を権利化に導くには、ただ待っているのではなく、積極的に働きかける必要があります。眠っている発明を特許性のある方向へ導き、発明者の発明能力を向上させると共に、新規事業の創出につながる、価値の高い権利を取得します。</span></p>
							</div>
							<div  class="mod-h_2_ver2 ex-first-child">
								<h2  class="mod-h"><span style="font-size:16px"><strong>商標出願</strong></span></h2>
							</div>
							<div  class="mod-rte_ver2">
								<p><span lang="EN-US">商標登録後に、商標の形態が変化し、取得した商標権では変化後の商標を有効に保護できなくなっている場合があります。また、形態が変化した商標を使用し続けると他の商標権者から商標権侵害で訴えられる危険もあります。登録・権利化に必要となる適正な商標登録出願をていねいにアドバイスし、適宜お客様とご相談しながらより慎重に進めていきます。</span></p>
							</div>
							<div  class="mod-h_2_ver2 ex-first-child">
								<h2  class="mod-h"><span style="font-size:16px"><strong>外国出願</strong></span></h2>
							</div>
							<div  class="mod-rte_ver2">
								<p><span lang="EN-US">外国への商標登録出願は日本と同じようには考えられませんので、外国へ出願するには、各国の文化や言語、商標制度を理解している必要があります。弊社では長年の経験と情報の強みを活かして、ビジネスに役立つ商標権を取得するための外国出願を行っています。</span></p>
							</div>
						</div>

						<div data-parts-name="part-main-066_004 v10" class="mod-box3 ex-style_01B1 ex-imgSize_S">
							<div  class="mod-h_2 ex-first-child">
								<i  class="mod-icon_1"></i><h2  class="mod-h">和泉特許事務所の経営理念</h2>
							</div>
						</div>
						<div class="mod-set-step">
							<div class="step1 ex-first-child">
									<div class="mod-box_ver2">
										<div class="mod-2col-in1 ex-first-child">
											<div class="mod-2col-wrap">
												<div class="mod-2col-inner">
													<div class="mod-2col-inner-2">
														<p class="mod-img ex-first-child"><img src="{% static 'img/profile.jpg' %}"></a></p>
													</div>
												</div>
												<div class="mod-2col-inner2" style="margin-top:50px">
													<p><span style="font-size:26px"><strong>私達のやりたい事は、</strong><br><strong>特許や商標の力で、企業を防衛し、</strong><br><strong>さまざまな会社を</strong><strong><span style="color:red">成功</span>させることです。</strong></span></p>
													<p class="mod-text-pic"><span style="font-size:12px">代表弁理士　和泉久志</span></p>
												</div>
											</div>

										</div class="mod-2col-in1 ex-first-child">
										<div>
											<ul>
												<li><u>中小企業の開発力を無駄にはさせません。</u></li>
												<li><u>御社に眠っている知財を掘り起こします。</u></li>
												<li><u>なにより親身になってお客様に向き合います。</u></li>
											</ul>
											<p>知的財産はとても大きな力を持っています。価値の高い知的財産を生み出すことは事業の開拓につながり、
その事業を一定の期間守ることができます。弊社はその大きな力を、「社会に大きく貢献する」という大きな目的のため、生かしたいと考えます。</p>
										</div>
										
									</div>
							</div>
						</div>
					</div>
				
					<div data-parts-name="part-main-066_004 v10" class="mod-box3 ex-style_01B1 ex-imgSize_S">
						<div  class="mod-h_2 ex-first-child">
							<i  class="mod-icon_1"></i><h2  class="mod-h">和泉特許事務所がお客様に選ばれる理由</h2>
						</div>

						<div class="step1 ex-first-child">
							<div  class="mod-3col ex-first-child">

								<div  class="mod-3col-inner2">
									<div  class="mod-box40 ex-first-child"   data-height-group="066_004-1-1">
										<h4  class="mod-h"   data-height-group="066_004-1-8"><span style="font-size:26px; line-height:41.5999984741211px">信頼</span></h4>
									</div>
									<p  class="mod-image"   data-height-group="066_004-1-18">
										<img src="{% static 'img/trust.jpg' %}" style="border-radius: 50%;">
									</p>
									<div  class="mod-box41"   data-height-group="066_004-1-28">
										<div  class="mod-rte22 ex-first-child"     data-height-group="066_004-1-38" style="padding: 6px;">
											<p>「お客様からの信頼」獲得を長年継続できている事が誇りです。お客様との信頼の構築が、良い仕事のご提供・お客様の良き成功を生みます。</p>
										</div>
									</div>
								</div>

								<div  class="mod-3col-inner2">
									<div  class="mod-box40 ex-first-child"   data-height-group="066_004-1-1">
										<h4  class="mod-h"   data-height-group="066_004-1-8"><span style="font-size:26px; line-height:41.5999984741211px">迅速丁寧</span></h4>
									</div>
									<p  class="mod-image"   data-height-group="066_004-1-18">
										<img src="{% static 'img/polite.jpg' %}" style="border-radius: 50%;">
									</p>
									<div  class="mod-box41"   data-height-group="066_004-1-28">
										<div  class="mod-rte22 ex-first-child"     data-height-group="066_004-1-38"  style="padding: 6px;">
											<p>お客様にとって新規事業はスピードが命です。新規事業に係る開発品・商標の保護、侵害調査等、迅速かつ丁寧な対応を徹底しております。</p>
										</div>
									</div>
								</div>

								<div  class="mod-3col-inner3">
									<div  class="mod-box40 ex-first-child"   data-height-group="066_004-1-1">
										<h4  class="mod-h"   data-height-group="066_004-1-8">
											<span style="font-size:26px">親身</span>
										</h4>
									</div>
									<p  class="mod-image"   data-height-group="066_004-1-18">
										<img src="{% static 'img/cordinal.jpg' %}" style="border-radius: 50%;">
									</p>
									<div  class="mod-box41"   data-height-group="066_004-1-28" style="padding: 6px;">
										<div  class="mod-rte22 ex-first-child"     data-height-group="066_004-1-38">
											<p>お客様の立場になって、お客様の成功のための有効策を「予算」と相談しながらご提案いたします。そして、必ず「弁理士」が親身になって対応いたします。</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div data-parts-name="part-main-066_004 v10" class="mod-box3 ex-style_01B1 ex-imgSize_S">
						<div  class="mod-h_2 ex-first-child">
							<i  class="mod-icon_1"></i><h2  class="mod-h">よくあるご依頼</h2>
						</div>
					</div>
					
					<div data-parts-name="part-main-165_002 v8" class="mod-box3 ex-style_q1A3">
						<div  class="mod-2col7 ex-first-child">
							<div  class="mod-2col-wrap2">
								<div  class="mod-2col-inner">
									<div  class="mod-box40 ex-first-child"   data-height-group="165_002-1-1">
										<i  class="mod-icon_1" data-height-group="165_002-1-3"></i>
										<div  class="mod-h_4-inner" data-height-group="165_002-1-4">
											<h4  class="mod-h"   data-height-group="165_002-1-8"><img alt="" class="mod-pictgram" src="/_master/material/ico_943_001/ico_943_001.png">特許について最近よくあるご依頼</h4>
										</div>
									</div>
									<div  class="mod-ul" data-height-group="165_002-1-18">
										<ul>
											<li>新製品開発。他社をけん制するため<u><strong>特許出願</strong></u>したい。</li>
											<li>新製品が他社の権利を侵害していないか<u><strong>調査</strong></u>をしたい。</li>
											<li><u><strong>外国</strong></u>で、特許がとりたい（PCT出願）。</li>
											<li><u><strong>ビジネスモデル</strong></u>特許について知りたい。保護したい。</li>
											<li><u><strong>実用新案登録出願</strong></u>で早期登録を得たい。</li>
											<li>英語・中国語の明細書<u><strong>翻訳</strong></u>をお願いしたい。</li>
											<li>他社との<u><strong>紛争解決</strong></u>をお願いしたい（内容証明・裁判）。</li>
										</ul>
									</div>
								</div>
								<div  class="mod-2col-inner2">
									<div  class="mod-box40 ex-first-child"   data-height-group="165_002-1-1">
										<i  class="mod-icon_1" data-height-group="165_002-1-3"></i>
										<div  class="mod-h_4-inner" data-height-group="165_002-1-4">
											<h4  class="mod-h"   data-height-group="165_002-1-8"><img alt="" class="mod-pictgram" src="/_master/material/ico_943_001/ico_943_001.png">商標について最近よくあるご依頼</h4>
										</div>
									</div>
									<div   class="mod-ul"     data-height-group="165_002-1-18">
										<ul>
											<li>商品に使用するマークを<u><strong>商標登録</strong></u>したい。</li>
											<li>イベントで使う商標を<u><strong>公募</strong></u>したい。</li>
											<li>ネットで使うショップ名が使えるか<u><strong>調査</strong></u>したい。</li>
											<li><u><strong>海外</strong></u>が得意な貴所に外国出願をお願いしたい<span style="font-size:10px">（マドプロ）</span>。</li>
											<li>管理がしっかりしている貴所に<u><strong>更新</strong></u>からお願いしたい。</li>
											<li>他社との<u><strong>紛争解決</strong></u>をお願いしたい（内容証明・裁判）。</li>
											<li>ライセンス<u><strong>契約</strong></u>書を作成してほしい。</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div  class="mod-2col7 ex-first-child">
							<div  class="mod-2col-wrap2">
								<div  class="mod-2col-inner">
									<div  class="mod-box40 ex-first-child"   data-height-group="165_002-2-1">
										<i  class="mod-icon_1" data-height-group="165_002-2-3"></i>
										<div  class="mod-h_4-inner" data-height-group="165_002-2-4">
											<h4  class="mod-h"   data-height-group="165_002-2-8"><img alt="" class="mod-pictgram" src="/_master/material/ico_943_001/ico_943_001.png">意匠について最近よくあるご依頼</h4>
										</div>
									</div>
									<div   class="mod-ul"     data-height-group="165_002-2-18">
										<ul>
											<li>美容機器のデザインを意匠登録したい。</li>
											<li>機械部品について意匠登録したい。</li>
											<li>海外の複数国に意匠登録したい（ハーグ協定）。</li>
											<li>複数あるシリーズ品を保護したい（関連意匠）。</li>
											<li>保護したいが秘密にしたい（秘密意匠）。</li>
										</ul>
									</div>
								</div>
								<div  class="mod-2col-inner2">
									<div  class="mod-box40 ex-first-child"   data-height-group="165_002-2-1">
										<i  class="mod-icon_1" data-height-group="165_002-2-3"></i>
										<div  class="mod-h_4-inner" data-height-group="165_002-2-4">
											<h4  class="mod-h"   data-height-group="165_002-2-8"><img alt="" class="mod-pictgram" src="/_master/material/ico_943_001/ico_943_001.png">知財全般について最近よくあるご相談</h4>
										</div>
									</div>
									<div   class="mod-ul"     data-height-group="165_002-2-18">
										<ul>
											<li><u><strong>著作権</strong></u>譲渡契約の代理をお願いしたい。</li>
											<li>会社の吸収合併による<u><strong>権利移転</strong></u>を一括お願いしたい。</li>
											<li>当社の<u><strong>顧問</strong></u>代理人になってほしい。</li>
											<li><u><strong>契約</strong></u>書のチェックをお願いしたい。</li>
											<li><strong>とにかく相談したい</strong>。</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div  class="mod-rte">
						<p style="text-align:center"><strong>ご依頼は日本全国からだけでなく、海外からも直接頂いております。</strong></p>
					</div>
				</div>
			</div>

{% endblock %}