{% extends 'base.html' %}

{% load static %}
{% block nav %}
<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
	<div  class="mod-gnav-inner">
		<div  class="mod-gnav-inner2">
			<ul>
				<li  class=""><span class="mod-gnav-item"><a href="/">私たちのやりたい事</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/office">事務所概要</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/member" style="color: white;">弁理士紹介</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/access">アクセス</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/contact">お問合せ</a></span></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block header-image %}
	<img style="width:100%;height:auto;max-height:600px;filter: brightness(50%);" id="image" src="{% static 'img/member.jpg' %}">
		<div style="position: absolute;left: 0; right: 0; margin-top: -300px;display: flex;flex-direction: column;align-items: center;">
    	<h1 style="color:white;">弁理士紹介</h1>
	</div>
{% endblock %}

{% block content %}

<div   data-parts-name="part-main-004 v7" class="ex-style_01A1 mod-box3 ex-first-part">
	<div  class="mod-box-inner">
		<div  class="mod-box-inner2">
			<div  class="mod-title3 ex-first-child">
				<div  class="mod-title3-inner ex-first-child">
					<h1  class="mod-title3-inner3 ex-first-child">弁理士</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div    data-parts-name="part-main-208 v7" class="mod-box3 ex-imgLayout_l ex-imgSize_2SS ex-style_01B2">
	<div class="step1 ex-first-child">
		<div  class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner">
					<div  class="mod-2col-inner-2">
						<p  class="mod-image ex-first-child"><img src="{% static 'img/member1.jpg' %}"></p>
					</div>
				</div>
				<div  class="mod-2col-inner2">
					<div  class="mod-2col-inner2-2">
						<div  class="mod-box40 ex-first-child">
							<div  class="mod-h_4 ex-first-child"><i  class="mod-icon_1"></i>
								<div  class="mod-h_4-inner">
									<div  class="mod-h_4-inner3 ex-first-child">
										<h4  class="mod-h">代表弁理士　井澤　幹</h4>
									</div>
								</div>
							</div>
							<div  class="mod-rte16">
								<p>■経歴<br>弁理士登録（No.12372)　2002<span>年</span></p>
								<p>特定侵害訴訟代理資格付記登録　2004年<br>日本弁理士会　商標委員会　03～04年、08年～11<br>日本弁理士会　広報センター副センター長　05年、13～15年<br>日本弁理士会　総合対策検討委員会　副委員長　07年<br>日本弁理士会　防災会議　議長　2013年<br>日本弁理士会　副会長　2012年度</p>
								<p>日本大学法学部法律学科卒<br>■メンバー<br>JPAA（日本弁理士会）・AIPPI・APAA・商標協会<br>■実務分野<br>特許/商標/意匠/訴訟/鑑定&nbsp;</p>
							</div>
						</div>
						<div  class="mod-box41">
							<div  class="mod-h_5 ex-first-child">
								<i  class="mod-icon_1"></i>
								<div  class="mod-h_5-inner">
									<h5  class="mod-h">お客さまへのメッセージ</h5>
								</div>
							</div>
						</div>
						<div  class="mod-rte5">
							<p>我々士業は、お客様のことを「クライアント」と呼びますが、「クライ（Ｃｒｙ：泣く）する人を笑顔にする事」、つまりお客様の事業を特許や商標の力で成功させる事、が我々の使命と考えております。その使命を果たすべく、ひとつひとつ丁寧にお客様の立場に立って最善の法的サービスを提供する事が私のモットーであり、得意とするところです。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div    data-parts-name="part-main-208 v7" class="mod-box3 ex-imgLayout_l ex-imgSize_2SS ex-style_01B2">
	<div class="step1 ex-first-child">
		<div  class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner">
					<div  class="mod-2col-inner-2">
						<p  class="mod-image ex-first-child"><img src="{% static 'img/member2.jpg' %}"></p>
					</div>
				</div>
				<div  class="mod-2col-inner2">
					<div  class="mod-2col-inner2-2">
						<div  class="mod-box40 ex-first-child">
							<div  class="mod-h_4 ex-first-child"><i  class="mod-icon_1"></i>
								<div  class="mod-h_4-inner">
									<div  class="mod-h_4-inner3 ex-first-child">
										<h4  class="mod-h">代表弁理士　井澤　幹</h4>
									</div>
								</div>
							</div>
							<div  class="mod-rte16">
								<p>■経歴<br>弁理士登録（No.12372)　2002<span>年</span></p>
								<p>特定侵害訴訟代理資格付記登録　2004年<br>日本弁理士会　商標委員会　03～04年、08年～11<br>日本弁理士会　広報センター副センター長　05年、13～15年<br>日本弁理士会　総合対策検討委員会　副委員長　07年<br>日本弁理士会　防災会議　議長　2013年<br>日本弁理士会　副会長　2012年度</p>
								<p>日本大学法学部法律学科卒<br>■メンバー<br>JPAA（日本弁理士会）・AIPPI・APAA・商標協会<br>■実務分野<br>特許/商標/意匠/訴訟/鑑定&nbsp;</p>
							</div>
						</div>
						<div  class="mod-box41">
							<div  class="mod-h_5 ex-first-child">
								<i  class="mod-icon_1"></i>
								<div  class="mod-h_5-inner">
									<h5  class="mod-h">お客さまへのメッセージ</h5>
								</div>
							</div>
						</div>
						<div  class="mod-rte5">
							<p>我々士業は、お客様のことを「クライアント」と呼びますが、「クライ（Ｃｒｙ：泣く）する人を笑顔にする事」、つまりお客様の事業を特許や商標の力で成功させる事、が我々の使命と考えております。その使命を果たすべく、ひとつひとつ丁寧にお客様の立場に立って最善の法的サービスを提供する事が私のモットーであり、得意とするところです。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div    data-parts-name="part-main-208 v7" class="mod-box3 ex-imgLayout_l ex-imgSize_2SS ex-style_01B2">
	<div class="step1 ex-first-child">
		<div  class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner">
					<div  class="mod-2col-inner-2">
						<p  class="mod-image ex-first-child"><img src="{% static 'img/member3.jpg' %}"></p>
					</div>
				</div>
				<div  class="mod-2col-inner2">
					<div  class="mod-2col-inner2-2">
						<div  class="mod-box40 ex-first-child">
							<div  class="mod-h_4 ex-first-child"><i  class="mod-icon_1"></i>
								<div  class="mod-h_4-inner">
									<div  class="mod-h_4-inner3 ex-first-child">
										<h4  class="mod-h">代表弁理士　井澤　幹</h4>
									</div>
								</div>
							</div>
							<div  class="mod-rte16">
								<p>■経歴<br>弁理士登録（No.12372)　2002<span>年</span></p>
								<p>特定侵害訴訟代理資格付記登録　2004年<br>日本弁理士会　商標委員会　03～04年、08年～11<br>日本弁理士会　広報センター副センター長　05年、13～15年<br>日本弁理士会　総合対策検討委員会　副委員長　07年<br>日本弁理士会　防災会議　議長　2013年<br>日本弁理士会　副会長　2012年度</p>
								<p>日本大学法学部法律学科卒<br>■メンバー<br>JPAA（日本弁理士会）・AIPPI・APAA・商標協会<br>■実務分野<br>特許/商標/意匠/訴訟/鑑定&nbsp;</p>
							</div>
						</div>
						<div  class="mod-box41">
							<div  class="mod-h_5 ex-first-child">
								<i  class="mod-icon_1"></i>
								<div  class="mod-h_5-inner">
									<h5  class="mod-h">お客さまへのメッセージ</h5>
								</div>
							</div>
						</div>
						<div  class="mod-rte5">
							<p>我々士業は、お客様のことを「クライアント」と呼びますが、「クライ（Ｃｒｙ：泣く）する人を笑顔にする事」、つまりお客様の事業を特許や商標の力で成功させる事、が我々の使命と考えております。その使命を果たすべく、ひとつひとつ丁寧にお客様の立場に立って最善の法的サービスを提供する事が私のモットーであり、得意とするところです。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div    data-parts-name="part-main-208 v7" class="mod-box3 ex-imgLayout_l ex-imgSize_2SS ex-style_01B2">
	<div class="step1 ex-first-child">
		<div  class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner">
					<div  class="mod-2col-inner-2">
						<p  class="mod-image ex-first-child"><img src="{% static 'img/member4.jpg' %}"></p>
					</div>
				</div>
				<div  class="mod-2col-inner2">
					<div  class="mod-2col-inner2-2">
						<div  class="mod-box40 ex-first-child">
							<div  class="mod-h_4 ex-first-child"><i  class="mod-icon_1"></i>
								<div  class="mod-h_4-inner">
									<div  class="mod-h_4-inner3 ex-first-child">
										<h4  class="mod-h">代表弁理士　井澤　幹</h4>
									</div>
								</div>
							</div>
							<div  class="mod-rte16">
								<p>■経歴<br>弁理士登録（No.12372)　2002<span>年</span></p>
								<p>特定侵害訴訟代理資格付記登録　2004年<br>日本弁理士会　商標委員会　03～04年、08年～11<br>日本弁理士会　広報センター副センター長　05年、13～15年<br>日本弁理士会　総合対策検討委員会　副委員長　07年<br>日本弁理士会　防災会議　議長　2013年<br>日本弁理士会　副会長　2012年度</p>
								<p>日本大学法学部法律学科卒<br>■メンバー<br>JPAA（日本弁理士会）・AIPPI・APAA・商標協会<br>■実務分野<br>特許/商標/意匠/訴訟/鑑定&nbsp;</p>
							</div>
						</div>
						<div  class="mod-box41">
							<div  class="mod-h_5 ex-first-child">
								<i  class="mod-icon_1"></i>
								<div  class="mod-h_5-inner">
									<h5  class="mod-h">お客さまへのメッセージ</h5>
								</div>
							</div>
						</div>
						<div  class="mod-rte5">
							<p>我々士業は、お客様のことを「クライアント」と呼びますが、「クライ（Ｃｒｙ：泣く）する人を笑顔にする事」、つまりお客様の事業を特許や商標の力で成功させる事、が我々の使命と考えております。その使命を果たすべく、ひとつひとつ丁寧にお客様の立場に立って最善の法的サービスを提供する事が私のモットーであり、得意とするところです。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div    data-parts-name="part-main-208 v7" class="mod-box3 ex-imgLayout_l ex-imgSize_2SS ex-style_01B2">
	<div class="step1 ex-first-child">
		<div  class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner">
					<div  class="mod-2col-inner-2">
						<p  class="mod-image ex-first-child"><img src="{% static 'img/member5.jpg' %}"></p>
					</div>
				</div>
				<div  class="mod-2col-inner2">
					<div  class="mod-2col-inner2-2">
						<div  class="mod-box40 ex-first-child">
							<div  class="mod-h_4 ex-first-child"><i  class="mod-icon_1"></i>
								<div  class="mod-h_4-inner">
									<div  class="mod-h_4-inner3 ex-first-child">
										<h4  class="mod-h">代表弁理士　井澤　幹</h4>
									</div>
								</div>
							</div>
							<div  class="mod-rte16">
								<p>■経歴<br>弁理士登録（No.12372)　2002<span>年</span></p>
								<p>特定侵害訴訟代理資格付記登録　2004年<br>日本弁理士会　商標委員会　03～04年、08年～11<br>日本弁理士会　広報センター副センター長　05年、13～15年<br>日本弁理士会　総合対策検討委員会　副委員長　07年<br>日本弁理士会　防災会議　議長　2013年<br>日本弁理士会　副会長　2012年度</p>
								<p>日本大学法学部法律学科卒<br>■メンバー<br>JPAA（日本弁理士会）・AIPPI・APAA・商標協会<br>■実務分野<br>特許/商標/意匠/訴訟/鑑定&nbsp;</p>
							</div>
						</div>
						<div  class="mod-box41">
							<div  class="mod-h_5 ex-first-child">
								<i  class="mod-icon_1"></i>
								<div  class="mod-h_5-inner">
									<h5  class="mod-h">お客さまへのメッセージ</h5>
								</div>
							</div>
						</div>
						<div  class="mod-rte5">
							<p>我々士業は、お客様のことを「クライアント」と呼びますが、「クライ（Ｃｒｙ：泣く）する人を笑顔にする事」、つまりお客様の事業を特許や商標の力で成功させる事、が我々の使命と考えております。その使命を果たすべく、ひとつひとつ丁寧にお客様の立場に立って最善の法的サービスを提供する事が私のモットーであり、得意とするところです。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}