{% extends 'base.html' %}
{% load static %}
{% block nav %}
<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
	<div  class="mod-gnav-inner">
		<div  class="mod-gnav-inner2">
			<ul>
				<li  class=""><span class="mod-gnav-item"><a href="/">事務所方針</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/office">事務所概要</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/member" style="color: white;">弁理士紹介</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/access">アクセス</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/contact">お問合せ</a></span></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block header-image %}
	<img style="width:100%;height:auto;max-height:600px;filter: brightness(50%);object-fit: cover;" id="image" src="{% static 'img/member0.jpg' %}">
		<div style="position: absolute;left: 0; right: 0; margin-top: -300px;display: flex;flex-direction: column;align-items: center;">
    	<h1 style="color:white;">弁理士紹介</h1>
	</div>
{% endblock %}

{% block content %}
<div style="margin-top: 50px;">
	<div class="step1 ex-first-child">
		<div class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner">
					<div  class="mod-2col-inner-2">
						<p  class="mod-image ex-first-child"><img src="{% static 'img/member1.jpg' %}"></p>
					</div>
				</div>
				<div  class="mod-2col-inner2">
					<div  class="">
						<h4 class="mod-h patent-name">代表弁理士　和泉久志<br><span class="patent-alphabet">Hisashi Waizumi</span></h4>
					</div>
					<div style="margin-top: 62px">
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">資格・役職</h3>
						<p>1993年（平成５年）弁理士登録  登録番号１０４９２</p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">専門分野</h3>
						<p>特許・実用新案　商標　外国特許　鑑定　契約関係<br/></p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">技術分野</h3>
						<p>土木建築　材料加工機械　紙加工品　制御　メカトロ等　<br/></p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">趣味</h3>
						<p>ゴルフ　読書　渓流釣り<br/></p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">略歴</h3>
						<p>東京都立大学　工学部卒業</p>					
					</div>
				</div>
				<p class="mb-3"  style="margin: 2.0rem auto 0.5rem auto;">■メッセージ<br>
					クライアントの利益を最優先に考え、お客様に満足していただけるよう努めます。<br/></p>				
			</div>
		</div>
	</div>
	<div class="step1 ex-first-child" style="margin-top:60px">
		<div class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner">
					<div  class="mod-2col-inner-2">
<!--						<p  class="mod-image ex-first-child"><img src="{% static 'img/member2.jpg' %}"></p>-->
					</div>
				</div>
				<div  class="mod-2col-inner2">
					<div  class="">
						<h4 class="mod-h patent-name">弁理士　山田栄一<br><span class="patent-alphabet">Eiichi Yamada</span></h4>
					</div>
					<div style="margin-top: 62px">
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">資格・役職</h3>
						<p>2011年（平成２３年）弁理士登録　登録番号１７４９２</p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">専門分野</h3>
						<p>特許・実用新案　商標　外国特許　鑑定　契約関係<br/></p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">技術分野</h3>
						<p>材料加工機械　精密機械　土木建築　紙加工品　振動解析　制御　メカトロ等　<br/></p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">趣味</h3>
						<p>サイクリング　マラソン<br/></p>
						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">略歴</h3>
						<p>東京都立大学　工学部卒業</p>					
					</div>
				</div>
				<p class="mb-3"  style="margin: 2.0rem auto 0.5rem auto;">■メッセージ<br>
					お客様に満足していただけるよう品質向上に努めます。<br/></p>				
			</div>
		</div>
	</div>
</div>
{% endblock %}
