{% extends 'base.html' %}

{% load static %}
{% block nav %}
<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
	<div  class="mod-gnav-inner">
		<div  class="mod-gnav-inner2">
			<ul>
				<li  class=""><span class="mod-gnav-item"><a href="/">私たちのやりたい事</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/office" style="color: white;">事務所概要</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/member">弁理士紹介</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/access">アクセス</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/contact">お問合せ</a></span></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block header-image %}
	<img style="width:100%;height:auto;max-height:550px;filter: brightness(50%);" id="image" src="{% static 'img/office.jpg' %}">
		<div style="position: absolute;left: 0; right: 0; margin-top: -300px;display: flex;flex-direction: column;align-items: center;">
    	<h1 style="color:white;">事務所概要</h1>
	</div>
{% endblock %}
{% block content %}
	
<div class="area-main-inner2">
	<div    data-parts-name="part-main-171_002 v8" class="ex-style_a1A1 mod-box3 ex-first-part">
		<div data-parts-name="part-main-066_004 v10" class="mod-box3 ex-style_01B1 ex-imgSize_S">
			<div  class="mod-h_2 ex-first-child">
				<i  class="mod-icon_1"></i><h2  class="mod-h">当法人の概要</h2>
			</div>
		</div>
		<div  class="mod-box-inner">
			<div  class="mod-box-inner">
				<div  class="mod-2col4 ex-first-child">
					<div  class="mod-2col-wrap">
						<div  class="mod-2col-inner2">
							<div       class="ex-first-child">
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">法人名</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<p>特許業務法人　和泉特許事務所<br>Waizumi &amp;Patent &amp;Office &nbsp;</p>
									</div>
								</div>
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">創業</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<p>２０００年（平成１２年）</p>
									</div>
								</div>
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">代表弁理士</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<p><span style="font-size:11px">代表弁理士</span> 和泉　久志（Hisashi Waizumi）</p>
									</div>
								</div>
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">所在地</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<p>東京都千代田区内神田1-6-7 大洋ビル５F</p>
									</div>
								</div>
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">電話番号</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<p>03-5281-3700</p>
									</div>
								</div>
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">ＦＡＸ</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<p>03-5281-8008</p>
									</div>
								</div>
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">代表E-mail</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<p>waizumi@waizumi-pat.jp</p>
									</div>
								</div>
								<div  class="mod-box41 ex-first-child">
									<div  class="mod-h_5 ex-first-child">
										<i  class="mod-icon_1"></i>
										<div  class="mod-h_5-inner">
											<div  class="mod-h_5-inner3 ex-first-child">
												<h5  class="mod-h">事業内容</h5>
											</div>
										</div>
									</div>
									<div  class="mod-rte17">
										<dd class="col-12 col-md-10">
										<h3 style="font-size:100%;margin-bottom:0;">■ 出願業務</h3>
										<p>特許出願、商標出願、意匠出願</p><br>
										<h3 style="font-size:100%;margin-bottom:0;">■ 技術分野</h3>
										<p>情報処理全般、ソフトウェア、電気、電子、通信、機械、光学、半導体、化学、バイオ</p><br>
										<h3 style="font-size:100%;margin-bottom:0;">■ 法律業務</h3>
										<p>特許調査、米国鑑定、国内鑑定、契約書サポート</p><br>
										<h3 style="font-size:100%;margin-bottom:0;">■ コンサルティング業務</h3><p>ブレインストーミングによる発明の創出と展開、知的所有権コンサルティング</p><br>
										</dd>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div   data-parts-name="part-main-169_004 v10" class="ex-style_a1A1 mod-box3">
		<div data-parts-name="part-main-066_004 v10" class="mod-box3 ex-style_01B1 ex-imgSize_S">
			<div  class="mod-h_2 ex-first-child">
				<i  class="mod-icon_1"></i><h2  class="mod-h">当法人の概要</h2>
			</div>
		</div>
		<div  class="mod-box37">
			<div  class="mod-2col4 ex-first-child">
				<div   class="">
					<table style="margin-bottom: 60px;">
						<tbody>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
							<tr>
								<th style="width: 25%;padding: 8px;">１９３０年</th>
								<td style="padding: 8px;">初代井澤武が東十条に事務所設立</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}