{% extends 'base.html' %}

{% load static %}
{% block nav %}
<nav data-parts-name="part-header-005 v7" class="mod-gnav2 ex-style_01B2">
	<div  class="mod-gnav-inner">
		<div  class="mod-gnav-inner2">
			<ul>
				<li  class=""><span class="mod-gnav-item"><a href="/">事務所方針</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/office" style="color: white;">事務所概要</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/member">弁理士紹介</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/access">アクセス</a></span></li>
				<li class=""><span class="mod-gnav-item"><a href="/contact">お問合せ</a></span></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block header-image %}
	<img style="width:100%;height:auto;max-height:550px;filter: brightness(50%);object-fit: cover;" id="image" src="{% static 'img/office.jpg' %}">
		<div style="position: absolute;left: 0; right: 0; margin-top: -300px;display: flex;flex-direction: column;align-items: center;">
    	<h1 style="color:white;">事務所概要</h1>
	</div>
{% endblock %}
{% block content %}
<div style="margin-top: 50px;">
	<div class="step1 ex-first-child">
		<div class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner2">
					<div  class="">
						<h4 class="mod-h patent-name">当事務所の概要<br></h4>
					</div>
					<div style="margin-top: 62px">

						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">事務所名</h3>
						<p>和泉特許事務所<br>Waizumi &nbsp;Patent &nbsp;Office &nbsp;</p>


						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">代表弁理士</h3>
						<p>和泉　久志（弁理士登録番号：10492）</p>

						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">創業</h3>
						<p>1997年（平成9年4月）</p>		

						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">取引銀行</h3>
						<p>三井住友銀行<br/>三菱ＵＦＪ銀行<br/>城北信用金庫</p>


						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">所在地</h3>
						<p>〒110-0047&nbsp;東京都千代田区内神田1-6-7 太陽ビル５F</p>	

						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">電話番号</h3>
						<p>03-5281-3700</p>

						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">ＦＡＸ</h3>
						<p>03-5281-8008</p>	

						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">代表E-mail</h3>
						<p>waizumi@waizumi-pat.jp</p>	

						<h3 class="profile-h3" style="font-weight: 700;margin: 2.0rem auto 0.5rem auto;">主な事業内容</h3>
						<p><div  class="mod-rte17">
							<dd class="col-12 col-md-10">
							<p>■ 特許出願、実用新案登録出願、意匠登録出願および商標登録出願及びこれらの中間処理</p><br>
							<p>■ 外国特許出願（米国，欧州，中国，韓国，台湾、東南アジア諸国その他）</p><br>
							<p>■ 特許調査、実用新案調査、意匠調査、商標調査</p><br>
							<p>■ 特許、実用新案に関する見解書、鑑定書作成</p><br>
							</dd>
						</div></p>					
					</div>
				</div>		
			</div>
		</div>
	</div>
	<div class="step1 ex-first-child" style="margin-top:50px">
		<div class="mod-2col4 ex-first-child">
			<div  class="mod-2col-wrap">
				<div  class="mod-2col-inner2">
					<div  class="">
						<h4 class="mod-h patent-name">沿革<br></h4>
					</div>
					<div style="margin-top: 62px">
						<p><div  class="mod-rte17">
							<dd class="col-12 col-md-10">
							<p>1997年&nbsp;神田にて和泉特許事務所創設</p><br>
							<p>2000年&nbsp;現事務所に移転</p><br>
							<p>2007年&nbsp;創立10周年　記念</p><br>
							<p>2017年&nbsp;創立20周年　記念</p><br>
							</dd>
						</div></p>					
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>

{% endblock %}
